.main{
    width: 950px;
    height: 500px;
    margin:0 auto;
}
.left{width: 500px;height: 500px; float: left}
.right p{font-size: 27px; text-align: center}
.right form input{
    margin-left: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 #ECF1F2;
    padding: 2px 5px;
}
.right form input:hover{background-color: #F0E5E5;cursor: pointer;}
.right span a{text-decoration: none;color: #666;margin-left: 35px}
.right span a:hover{text-decoration: underline;}
.right{
    width: 350px;
    height: 500px;
    float: left;
    line-height: 60px;
    border:1px solid #EDE4E4;
    margin-top: 40px;
    margin-left: 50px;
    background-color: #fafcfe
}