<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:annotation-driven validator="validator"></mvc:annotation-driven>
    <!-- 静态资源 配置-->
    <mvc:resources mapping="/resources/**" location="/resources"/>
    <context:component-scan base-package="controller"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>CustomValidationMessage</value>
            </list>
        </property>
        <property name="fileEncodings" value="utf-8"/>
        <property name="cacheSeconds" value="120"/>
    </bean>

    <!--图片上传解析器 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize"><value>5242880</value></property>
   </bean>

    <mvc:interceptors>
        <mvc:interceptor> <!-- productor的管理路径必须登录且操作自己的资源 -->
            <mvc:mapping path="/productor/m/**"/>
            <bean class="interceptor.ProductorManageIntc"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/productor/dishes/**"/>
            <bean class="interceptor.ProductorDishIntc"/>
        </mvc:interceptor>
        <!-- 确保用户登录 -->
        <mvc:interceptor>
            <mvc:mapping path="/u/**"/>
            <bean class="interceptor.UserAccessIntc"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="interceptor.AdminAccessIntc"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>