<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductorMapper">

    <!-- add productor -->
    <insert id="addOne" parameterType="po.Productor">
        INSERT INTO productors(email, name, pwd) VALUES (#{email}, #{name}, #{pwd})
    </insert>

    <!-- -->
    <select id="selectAll" resultType="po.Productor">
        SELECT * FROM productors
    </select>

    <delete id="deleteOne" parameterType="int">
        DELETE FROM productors WHERE id=#{id}
    </delete>

    <select id="findByEmail" parameterType="String" resultType="po.Productor">
        SELECT * from productors WHERE email = #{email}
    </select>

    <select id="findById" parameterType="int" resultType="po.Productor">
        SELECT * FROM productors WHERE id = #{id}
    </select>

</mapper>